$secondary-text-color: #aaaaaa;
$dark-background-color: #1c1c1c;
$darker-background-color: #080808;
$lighter-background-color:#2c2c2d;
.content-container {
    background-color: $dark-background-color;
    border-radius: 12px;
    padding: 10px;
    margin: 10px 0;
}

@mixin secondary {
    color: $secondary-text-color;
    font-size: 0.9rem;
}

@mixin title {
    color: #ffffff;
    font-size: 1.2em;
    letter-spacing: 0.04rem;
    font-weight: bold;
}